.flowup {
    border-radius: 4px;
    height: 80;
    width: 200;
    padding: 3;
    padding-left: 10;
    background: #53b635;
    color: white;
    transition: 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.flowup_text {
    font-family: "Source Code Pro", \5FAE\8F6F\96C5\9ED1;
    font-size: 36px;
    position: relative;
    transition: 0.3s;
}

.flowup:hover {
    background: #F3EED5 !important;
    ;
}

.flowup:hover>.flowup_text {
    transform: translate(240px, -20px);
}